<h1>Items</h1>

<% if @items.empty? %>
  <b>No items in store</b>
<% else %>
<table class="items">
  <tr>
    <th>Item id</th>
    <th>Name</th>
    <th>Price</th>
    <th>created_at</th>
    <th>Reting</th>
  </tr>

<% @items.each do |i| %>
    <tr>
      <td><%= i.id %></td>
      <td>
        <%= link_to i.name, item_path(i) %>
      </td>
      <td><%= @test %></td>
      <td><%= i.price %></td>
      <td><%= i.created_at.to_s %></td>
      <!-- хелпер сгенирирует JS с методом DELETE а так GET будет-->
      <td><%= link_to "Удалить линку", item_path(i), method: :delete, data: {confirm:"Точно удалить?"} %></td>
      <td>Рейтинг: <%= i.votes_count %>, <%= link_to "+", upvote_item_path(i) %></td>
    </tr>
  <% end %>
<% end %>
</table>
